<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.designge.frescocam"
	    versionCode="57" 
        version   = "1.0.1"
		package="com.designge.frescocam"
		>
    <name>FrescoCam</name>
	<icon src="logo.png" />
    <description>
      asdasd
    </description>

 
    <author href="http://design.ge" email="uabashidze@gmail.com">
        Cyborg-Mcloud
    </author>
<icon src="logo.png" />
 <gap:platform name="ios" />
<gap:platform name="android" />
<gap:platform name="winphone" />

<preference name="phonegap-version" value="3.7.0" /> 
<preference name="orientation" value="portrait" />
<preference name="fullscreen" value="true" />
   
    <plugins>

    </plugins>
	<feature name="App">
	  <param name="android-package" value="com.designge.frescocam"/>
	</feature>

	<feature name="Camera">
    <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
</feature>

	<feature name="http://api.phonegap.com/1.0/camera"/>
<gap:plugin name="org.apache.cordova.camera" />

</widget>
