<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.fresco.dresco"
	    versionCode="70" 
        version   = "1.2.0"
		package="com.fresco.dresco"
		>
    <name>Dresco</name>
	<icon src="icon.png" />

	<icon src="icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icon-57.png" gap:platform="ios" width="57" height="57" />
	<icon src="icon-120.png" gap:platform="ios" width="120" height="120" />

    <description>
      asdasd
    </description>

 
    <author href="http://design.ge" email="uabashidze@gmail.com">
        Cyborg-Mcloud
    </author>
<access origin="*" />
<allow-intent href="*" />
<allow-navigation href="*" />

 <gap:platform name="ios" />
<gap:platform name="android" />
<preference name="target-device" value="handset" /> 
<preference name="android-build-tool" value="gradle" /> 
	<preference name="phonegap-version" value="cli-5.2.0" /> 
<preference name="orientation" value="portrait" />
<!--<preference name="fullscreen" value="true" />-->

<preference name="webviewbounce" value="false" />  
<preference name="DisallowOverscroll" value="true" />

<preference name="stay-in-webview"      value="true" />      

<preference name="exit-on-suspend"            value="false" />          
<preference name="show-splash-screen-spinner" value="true" />    
<preference name="auto-hide-splash-screen"    value="true" />
<preference name="disable-cursor"             value="false" />
<preference name="android-minSdkVersion"      value="11" />         
<preference name="android-installLocation"    value="auto" />
<preference name="EnableViewportScale"    value="true" />




<!--<preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />-->
    <plugins>

    </plugins>
	<feature name="App">
	  <param name="android-package" value="com.fresco.dresco"/>
	  <param name="ios-package" value="com.fresco.dresco"/>
	</feature>

    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
		<param name="ios-package" value="CDVCamera" />

    </feature>
    <feature name="File">
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
		<param name="ios-package" value="CDVFile" />
    </feature>
    <feature name="Capture">
        <param name="android-package" value="org.apache.cordova.mediacapture.Capture" />
		<param name="ios-package" value="CDVCapture" />
    </feature>
    <feature name="FileTransfer">
        <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
		<param name="ios-package" value="CDVFileTransfer" />
    </feature>
	<feature name="Notification">
		<param name="android-package" value="org.apache.cordova.dialogs.Notification" />
		    <param name="ios-package" value="CDVNotification" />
	</feature>
	<feature name="Vibration">
		<param name="android-package" value="org.apache.cordova.vibration.Vibration" />
	</feature>

  <feature name="InAppBrowser">
      <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
	  <param name="ios-package" value="CDVInAppBrowser" />

  </feature>
<!--
 <feature name="LocalNotification">
        <param name="android-package" value="de.appplant.cordova.plugin.localnotification.LocalNotification"/>
        <param name="ios-package" value="APPLocalNotification"/>
    </feature>
-->

   <feature name="SplashScreen">

		<param name="android-package" value="org.apache.cordova.SplashScreen"/>

		<param name="ios-package" value="CDVSplashScreen"/>
        <param name="onload" value="true"/>
    </feature>

<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/notification" />
<feature name="http://api.phonegap.com/1.0/device" />
<feature name="http://api.phonegap.com/1.0/network" />



<gap:plugin name="org.apache.cordova.file" />
<gap:plugin name="org.apache.cordova.file-transfer" />
<gap:plugin name="org.apache.cordova.camera" />
<gap:plugin name="org.apache.cordova.network-information" />
<gap:plugin name="de.appplant.cordova.plugin.local-notification-ios9-fix" spec="0.8.2" source="pgb" />
<gap:plugin name="cordova-plugin-inappbrowser"  source="npm" />
<gap:plugin name="cordova-plugin-whitelist" source="npm" />
  <gap:splash src="splash.png" />
    <gap:splash src="splash.png"  width="640" height="960" />

</widget>
